.btn
    background-color: #FFE0BB
    color: #FF6363
    font-size: 22px
    border: 0
    padding: 5px 20px
    border-radius: 10px
    cursor: pointer
    transition: all 150ms ease

    &:hover
        background-color: #FF6363
        color: #FFE0BB

.btn--secondary
    background-color: #FF8E5D
    color: #efefef

    &:hover
        background-color: #efefef
        color: #FF8E5D

.btn--third
    background: linear-gradient(180deg, #F15252 50%, #ff8855 90%)
    background-size: 100% 200%
    background-position: bottom center
    color: #efefef
    transition: all 300ms ease

    &:hover
        color: #efefef
        background-position: top center